.title{

    display: flex;
}
.name{
    margin: auto;
    display: inline-block;
    width: 50%;
    font-weight: bold;
}
.desc{

}
.price{

    margin: auto;
    display: inline-block;
    width: 50%;
    text-align: right;
    font-weight: bold;

}
.item{
    margin: 0 5px;
    display: inline-block;
    width: 90%;
}
.img{
    width: 10%;
    display: inline-block;
    height: 100%;
    margin:auto 5px;
    text-align: center;
}
.ticket{
    display: flex;
    margin: 5px auto;
    width: 70%;
}