.ticketimg{
    width: 100%;
    vertical-align: middle;
    border-radius: 50%;
    margin: auto;
}

.item {
    display: flex;

    display: inline-block;
    width: 10%;
    height: 100%;
    text-align: center;
    border: 3px solid darkgray;
    border-radius: 20%;
    background-color: darkgray;
}