.selected {
    /*background: #4CAF50;*/
    background: rgb(246, 197, 189);
}

.spaceI {
    border-bottom: 4px inset black;
    border-right: 4px inset black;
    border-top: 1px inset black;
    border-left: 1px inset black;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

.disabled {
    border-bottom: 4px inset black;
    border-right: 4px inset black;
    padding: 10px;
    /*background: #f44336;*/
    background: rgb(232, 189, 246);
}
