.name{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.menus{
    margin-left: 15px;
}
.menu_category{
    margin: 5px;
    border-radius: 5px  ;
    padding: 10px;
}
.category_name{
    /*text-align: center;*/
}
