.name{
    text-align: center;
    font-weight: bold;
}
.menus{
    display: block;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}