.name{
    text-align: left;
    font-weight: bold;
    font-size: 19px;
    padding-left: 10px;
    display: inline-block;
}
/*.item_show{*/
/*    margin: 0 auto;*/

/*}*/
/*.item_not_show{*/

/*}*/
.item{


}
.hide{
    display: inline-block;
    float: right;
}
.all_menu{

}