.profile {
    border: 2px solid grey;
    margin: 5px;
}

.name {
    border-bottom: 2px solid grey;
    margin: 5px;
}

.name:hover {
    cursor: pointer;
}

.email {
    margin: 5px;
}

.birthdate {
    margin: 5px;
}

.phone {
    margin: 5px;
}

.childs_title {
    font-size: 18px;
    margin-bottom: 5px;
}

.delete {
    display: inline-block;
    float: right;
    color: red;
}
