.profile {
    border: 2px solid grey;
    margin: 5px;
    border-radius: 8px;
    background: white;
}
.update_profile{
    text-align: right;
    cursor: pointer;
}
.name {
    border-bottom: 1px solid rgb(217, 217, 217);
    margin: 5px;
}

.name:hover {
    cursor: pointer;
}

.email {
    margin: 5px;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.birthdate {
    margin: 5px;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.phone {
    margin: 5px;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.childs_title {
    font-size: 18px;
    margin-bottom: 5px;
}

.delete {
    display: inline-block;
    float: right;
    color: red;
}

.add_child_button{
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
    cursor: pointer;
    border: 3px solid rgb(300, 220, 220);
}
