.headerText{
    text-align: center;
    font-size: 120%;
    background-color: lightgrey;
    padding: 1%;
    margin: 0% 0% 0.6% 0%;
}
.log_out{
    float: right;
    display: inline-block;
    background-color: #ff7674;
    border-radius: 5px;
    padding: 3px;
}
.log_out:hover{
    border: 2px solid black;
    padding: 1px;
    cursor: pointer;
}
.name{
    display: inline-block;
    float: right;
    margin: 0 5px;
}
