.item{
    margin: 0 5px;
    display: inline-block;
    width: 90%;
}
.intertaiment{
    display: flex;


}
.img{
    width: 10%;
    display: inline-block;
    height: 100%;
    margin:auto 5px;
    text-align: center;
}
.name{
    margin: 0 auto;
    display: inline-block;
    font-weight: bold;
    width: 70%;
}
.price{
    font-weight: bold;
    display: inline-block;
    float: right;
}
.text{
    display: inline-block;
}
.desc{
    margin: 0 auto;
}
.desc_basket{
    text-align: right;
    width: 30%;
    margin: 0 auto;
    display: inline-block;
    font-weight: bold;
}
.btn{
    background-color: #f44336;
    color: white;
    cursor: pointer;
    padding: 1px;
}
.amount{
    font-weight: bold;
    margin-right: 5px;
}
.input{
    display: inline-block;
    font-weight: bold;
    float: right;
}
input{
    margin: 0 2px;
}
