.name{
    display: inline-block;
    font-weight: bold;
}
.btn_hide{
    float: right;
}
.item{
 display: flex;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */

    page-break-inside: avoid; /* Firefox */

    break-inside: avoid; /* IE 10+ */
}

.info{
 display: inline-block;
    width: 90%;
    margin: 0 5px;
}
.name_price{

}
.price{
    display: inline-block;
    font-weight: bold;
    float: right;
}
.desc{
    margin-top: 5px;
    display: inline-block;
    float: left;
}
.weight{
    display: inline-block;

    text-align: right;
    width: 20%;
    float: right;
}
.image{
    width: 10%;
    display: inline-block;
    height: 100%;
    margin:auto 0px;
    text-align: center;
}
.dish{
    margin-bottom: 10px;
    margin-left: 10px;
}
.dish_basket{
    margin-bottom: 10px;
}
.amount{
    display: inline-block;
    float: right;
    font-weight: bold;
}
.amount_text{
    display: inline-block;
}
.btn{
    background-color: #f44336;
    color: white;
    cursor: pointer;
    padding: 1px;
}
.input_block{
    display: flex;
    font-weight: bold;
    float: right;
}
.input{
    border-radius: 5px;
    border: 2px solid darkgray;
    float: right;
    width: 100%;
}
input:focus {
    outline: none;
}
.input_label{
    margin-right: 5px;
}
@media only screen and (max-width: 768px) {
    .info{
        width: 85%;
    }
    .image{
        width: 15%;
    }
    .dish{
        margin-left: 0px;
    }
}
