.item {
display: flex;
    margin: 2px;
}

img {
    width: 100%;
    vertical-align: middle;
}

.info {
    width: 90%;
    display: inline-block;
}

.name {
    font-weight: bold;
    display: inline-block;
}

.price {
    float: right;
    text-align: right;
    font-weight: bold;
    display: inline-block;
}