.item {
    margin: 7px;
display: flex;
}

img {
    width: 100%;
    vertical-align: middle;
}

.info {
    width: 85%;
    display: inline-block;
}

.name {
    font-weight: bold;
    display: inline-block;
}

.price {
    float: right;
    text-align: right;
    font-weight: bold;
    display: inline-block;
}