.main{
    margin: 10px 0px;
}
.first{
    border-top: 8px solid grey;
    border-bottom: 2px solid grey;
}
.name{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}
.total{
    display: inline-block;
    font-size: 16px;
}
.start{
    display: inline-block;
    float: right;
    font-size: 16px;
}
.end{
    display: inline-block;
    float: right;
    font-size: 16px;
}
.second{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}


