
.navlink {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 120%;
    margin: 0% 2% 0% 0%;
    background-color: darkgray;
    padding: 1%;
}

.navlinkRight{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 120%;
    margin: 0% 0% 0% 0%;
    background-color: darkgray;
    padding: 1%;
}

.navigation {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0% 0% 0% 0%;
}

.activeClassName {
    background-color: white
}

