.dashed {
    border-top: 3px dashed #bbb;
}
.item {
    margin: 10px;
}
hr.solid {
    border-top: 3px solid black;
}
.banquetWithName{
    font-size: 150%;
}
.input{
    outline: none;
    border: 0px;
    width: 100%;
}
.input:focus{
    outline: none;
}
.input:focus{
    outline: none;
}
