.dashed {
    border-top: 3px dashed #bbb;
}
.info_bock {
    margin: 10px;
}
hr.solid {
    border-top: 3px solid black;
}
.banquetWithName{
    font-size: 150%;
}
.input{
    outline: none;
    border: 0px;
    width: 100%;
}
.input:focus{
    outline: none;
}
.input:focus{
    outline: none;
}
.customer{
    display: inline-block;
    cursor: pointer;
}
.customer:hover{
    text-decoration: underline;
}
.advance{

}
.time{
    display: inline-block;
    float: right;
}
.date{
    display: inline-block;
    float: right;
}
.margin{
    margin-top: 10px;
    margin-bottom: 10px;
}

