.order{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 10px;
    border-radius: 10px;
    column-gap: 5px;
}
.list{

}
.block{
    background-color: white;
    border-radius: 10px;

}
.total{
    font-weight: bold;
   text-align: center;
}
