.order{
    /*display: grid;*/
    /*grid-template-columns: 33% 33% 33%;*/
    margin: 10px 0px;
    border-radius: 10px;
    column-gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list{

}
.block{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: space-between;
}
.total{
    text-align: center;
    color: rgb(120, 120, 120);
    font-size: 18px;
    font-weight: 700;
    justify-self: flex-end;
}
